/* 글자가 서서히 나타남 */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1;}
}

/* 글자가 서서히 사라짐 */
@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0;}
}

/* (Chrome) 글자가 서서히 나타남 */
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1;}
}

/* (Chrome) 글자가 서서히 사라짐 */
@-webkit-keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0;}
}

/* 클래스로 만들어 애니메이션 동작 */
.fadeIn{
    animation: fadeIn;
    animation-duration: 0.5s;
}

.fadeOut{
    animation: fadeOut;
    animation-duration: 0.5s;
}